body {
  padding-top: 0px;
  padding-bottom: 20px;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 20px
}
.team__member {
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
vertical-align: middle;
}
.team-member__avatar {
  max-width: 80%;
  margin: 0 auto ;
  /* border: 10px solid rgba(255, 255, 255, 0.1); */
  /* border-radius: 50%; */
  overflow: hidden;
}

.dmlc-head {
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom:20px;
    color:inherit;
    background-color:#eee;
}

.dmlc-head .h1, .dmlc-head h1 {
    color:#777;
    font-size: 40px;
}
