/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  padding-bottom: 20px;
}

h1 {
    font-size: 20px;
}

.team__member {
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
}
.team-member__avatar {
  max-width: 80%;
  margin: 0 auto ;
  /* border: 10px solid rgba(255, 255, 255, 0.1); */
  /* border-radius: 50%; */
  overflow: hidden;
}
